.container {
    width:850px;
    margin: 0 auto;
    margin-top:60px;
    margin-bottom:5px;
}


#left-column {
    width:550px;
    float: left;
}

#right-column {
    width:300px;
    display:inline-block;

    vertical-align: top;
}

.left-column-card, .right-column-card {
    margin-bottom:10px;
    
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color:#e5e5e5;

    background-color: #fff;
}

.left-column-card {
    margin-right:10px;
}

.right-column-card {
    padding-top: 10px;
}


.right-column-card #card-title, #card-title-red {
    font-family: 'Roboto';
    font-size: .75em;

    text-transform: uppercase;
}

.right-column-card #card-title {
    color: #cfcfcf;
    margin-bottom:10px;
}

.right-column-card #card-title-red {
    color: #c90000;
    margin-bottom:10px;
}